:root {
  --bg: #fff;
  --fg: #000;
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* keine Zeit für Blödsinn*/
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--bg);
  color: var(--fg);
}

#canvas-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

canvas {
  margin: 0.5rem;
}

p {
  text-align: center;
  max-width: 500px; 
  margin: 0 auto;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --fg: #fff;
  }
}
